.cta {
  position: relative;
  z-index: 10;
  height: auto;
  font-family: var(--secondary-font);
  color: white;
  background: var(--color-primary-500);
  border-top: 4px solid white;
}

.cta a {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.ctaLeftWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem clamp(1rem, 7vw, 4rem);
  background: var(--color-primary-500);
}

.ctaLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
  text-align: center;
}

.ctaRightWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem clamp(1rem, 7vw, 4rem);
  color: white;
  background: var(--color-secondary-gradient);
  border-top: 4px solid white;
}

.ctaRightContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 42.18rem;
}

.ctaHeader {
  display: block;
  padding-bottom: 1rem;
  font-size: clamp(2rem, 6vw, 6rem);
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.1rem;
}

.ctaSubHeader {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
}

.ctaForm {
  margin: 1rem 0;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

@media (width >= 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .ctaHeader {
    font-size: 2.25rem;
  }

  .ctaSubHeader {
    font-size: 1.5rem;
  }

  .ctaLeftWrap {
    border-top: none;
    border-right: 2px solid white;
  }

  .ctaRightWrap {
    border-top: none;
    border-left: 2px solid white;
  }

  .ctaLeftContent {
    align-items: flex-start;
    text-align: left;
  }

  .ctaRightContent {
    text-align: left;
  }

  .buttonGroup {
    justify-content: flex-start;
  }
}
