.loader {
  width: 100%;
  height: 0.66em;
  background: linear-gradient(
    -60deg,
    transparent 0%,
    transparent 50%,
    currentcolor 50%,
    currentcolor 75%,
    transparent 75%,
    transparent
  );
  background-position: 0 0;
  background-size: 1em 2em;
  border: 0.05em currentcolor solid;
  border-radius: 0.1em;
  animation: loader 0.8s infinite linear;
}

@keyframes loader {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -2em 0;
  }
}
