.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imageWrapper {
  height: 100%;
  transition: transform 0.2s ease-out;
}

.imageWrapper.zoomed {
  transform: scale(1.5);
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
