.intro {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  padding: 2rem 0;
  max-width: 100%;
  font-family: var(--secondaryFont);
  color: var(--grey60);
  background: var(--grey025);
  border-top: 4px solid white;
}

.intro img {
  z-index: 0;
}

.introLeftWrap {
  z-index: 55;
  padding: 2rem;
  width: 100%;
  max-width: 42.18rem;
  justify-self: center;
}

@media (min-width: 1100px) {
  .introLeftWrap {
    text-align: left;

    & h1 {
      padding-left: 2rem;
    }
  }
}

.introRightWrap {
  z-index: 55;
  place-self: center center;
  padding: 2rem 0;
  width: 100%;
  max-width: 42.18rem;
  height: 100%;
  text-align: center;
  border-left: none;
}

@media (min-width: 1000px) {
  .introRightWrap {
    padding: 2rem 2rem 2rem 4rem;
  }
}

.introSubHeader {
  display: block;
  padding-bottom: 1.25rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
  color: var(--primaryColor);
}

.introDescription {
  display: block;
  padding: 0;
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: clamp(1.25, 5vw, 1.75);
}

.introList ul {
  margin: 0;
  padding: 0;
}

.introList li {
  margin: 0 0 1rem 1rem;
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: 2;
  text-indent: 0;
  list-style: none;
}

.introList li::before {
  display: inline-block;
  position: relative;
  top: 0.15rem;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  content: url("./check.svg");
}

.stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  padding-top: 4rem;
  text-align: center;
}

.stat {
  display: flex;
  position: relative;
  flex-direction: column;
  width: fit-content;
  font-family: var(--primaryFont);
  font-size: 3rem;
  font-weight: 900;
}

.stat span:last-child {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}

.introHeader {
  display: block;
  font-family: var(--secondaryFont);
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  text-align: center;
}

@media (min-width: 1100px) {
  .intro {
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 0;
  }

  .introHeader {
    text-align: left;
  }

  .introList li {
    padding-left: 2rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  .introList li::before {
    top: 0.35rem;
    left: 0;
    margin-left: -3rem;
  }

  .introSubHeader {
    grid-template-columns: repeat(2, 1fr);
  }

  .introDescription {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  .introLeftWrap {
    background: none;
    box-shadow: none;
  }

  .introRightWrap {
    place-self: center flex-start;
    height: fit-content;
    text-align: left;
    background: none;
    border-top: none;
    border-left: 2px solid white;
    box-shadow: none;
  }

  .stats {
    justify-content: flex-start;
    padding-top: 2rem;
  }
}
