.message {
  margin: 0 0 var(--spacing-sm, 0.5rem);
  font-weight: var(--font-weight-medium, 500);
}

.message:last-child {
  margin-bottom: 0;
}

.errorList {
  margin: 0;
  padding-left: var(--spacing-lg, 1.5rem);
  list-style: disc;
}

.errorList li {
  margin-bottom: var(--spacing-xs, 0.25rem);
}

.errorList li:last-child {
  margin-bottom: 0;
}

.errorLink {
  padding: 0;
  font: inherit;
  text-align: left;
  text-decoration: underline;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.errorLink:hover,
.errorLink:focus {
  color: hsl(0deg 72% 25%);
}

.pageNumber {
  font-size: var(--font-size-xs, 0.75rem);
  opacity: 0.8;
}

.fieldMessage {
  font-weight: normal;
}
