.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  font-size: var(--font-size-sm);
  color: var(--color-text-tertiary);
  background-color: var(--color-bg-tertiary);
}

@media (width >= 640px) {
  .placeholder {
    height: 250px;
  }
}
