.columns {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  margin-block: var(--spacing-lg);
}

.columns[data-reverse-mobile="true"] {
  flex-direction: column-reverse;
}

.column {
  min-width: 0;
  flex: 1;
}

@media (min-width: 1000px) {
  .columns {
    flex-direction: row;
  }

  .columns[data-reverse-mobile="true"] {
    flex-direction: row;
  }
}
