.figure {
  line-height: 0;
  border: 1px solid var(--color-border-primary);
  margin: 0;
}
.figure img {
  padding: 0.5rem;
  margin: 0 !important;
}

.imageWrapper {
  height: 100%;
}

.alignLeft {
  float: left;
  margin-right: var(--spacing-lg, 1.5rem);
  max-width: 50%;
}

.alignRight {
  float: right;
  margin-left: var(--spacing-lg, 1.5rem);
  max-width: 50%;
}

.alignCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.alignWide {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.alignFull {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.rounded {
  border-radius: var(--radius-md, 0.5rem);
  overflow: hidden;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

.hasAspectRatio {
  position: relative;
  width: 100%;
}

.caption {
  margin-top: var(--spacing-xs, 0.25rem);
  font-size: var(--font-size-sm, 0.875rem);
  color: var(--color-text-secondary, hsl(0, 0%, 40%));
  text-align: center;
  line-height: 1.5;
  text-wrap: balance;
}

@media (max-width: 767px) {
  .alignLeft {
    float: none;
    max-width: 100%;
  }
  .alignRight {
    float: none;
    max-width: 100%;
  }
}
