.logo {
  padding-top: 8px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 88px;
  color: var(--color-text-inverse);
}

.mobile {
  padding-right: 25%;
}

@media (min-width: 910px) {
  .mobile {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
    clip-path: inset(50%);
    white-space: nowrap;
  }
}

.logoChiro {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -0.1em;
}

.logoStretch {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-light);
  letter-spacing: -0.1em;
}
