.logo {
  display: flex;
  align-items: flex-start;
  height: 100%;
  color: var(--color-text-inverse);

  div {
    padding-left: var(--spacing-md);
  }

  img {
    width: unset;
    height: unset;
  }
}

.mobile {
  padding-right: 25%;
}

@media (min-width: 910px) {
  .logo {
    img {
      width: 200px;
      height: auto;
    }
  }

  .mobile {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    visibility: hidden;
    overflow: hidden;
    clip-path: inset(50%);
  }
}

.logoChiro {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -0.1em;
}

.logoStretch {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-light);
  letter-spacing: -0.1em;
}
