.logo {
  padding-top: 8px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 88px;
}

.mobile {
  padding-right: 25%;
}

@media (min-width: 910px) {
  .mobile {
    display: none;
  }
}
