.card {
  display: flex;
  position: relative;
  margin: 3rem auto;
  width: fit-content;
  text-align: center;
}

.card img {
  border-radius: 8px;
  aspect-ratio: 1/1;
}

.cardHeader {
  position: absolute;
  bottom: 0;
  z-index: 9;
  padding: 0 0.5rem;
  width: 100%;
  height: fit-content;
  font-size: 1rem;
  font-weight: 800;
  line-height: 0.75;
  letter-spacing: -0.05rem;
  color: white;
  background: hsla(324, 79%, 68%, 0.75);
  border-radius: 0 0 8px 8px;
}
