.cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.innerContainer {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: var(--spacing-xl);
  text-align: center;
}

.position-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.position-top {
  align-items: flex-start;
}

.position-bottom {
  align-items: flex-end;
}

.position-left {
  justify-content: flex-start;
}

.position-right {
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .innerContainer {
    padding: var(--spacing-2xl);
  }
}
