.figure {
  margin: var(--spacing-xl) 0;
}

.hasAspectRatio {
  position: relative;
  width: 100%;
  display: block;
}

.hasAspectRatio .imageWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.hasAspectRatio[style*="aspect-ratio"] .imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rounded {
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.circle {
  border-radius: 9999px;
  overflow: hidden;
}

.alignLeft {
  float: left;
  margin-right: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
  max-width: 50%;
}

.alignRight {
  float: right;
  margin-left: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
  max-width: 50%;
}

.alignCenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.alignWide {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.alignFull {
  width: 100vw;
  max-width: none;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.caption {
  margin-top: var(--spacing-sm);
  font-size: var(--font-size-sm);
  color: var(--color-text-tertiary);
  text-align: center;
  font-style: italic;
}

@media (max-width: 767px) {
  .alignLeft,
  .alignRight {
    float: none;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
