.alert {
  padding: var(--spacing-md, 1rem);
  font-size: var(--font-size-sm, 0.875rem);
  line-height: 1.5;
  border-radius: var(--border-radius-md, 0.5rem);
}

.error {
  color: hsl(0deg 72% 35%);
  background-color: hsl(0deg 86% 97%);
  border: 1px solid hsl(0deg 72% 85%);
}

.success {
  color: hsl(142deg 72% 25%);
  background-color: hsl(142deg 76% 97%);
  border: 1px solid hsl(142deg 76% 75%);
}

.warning {
  color: hsl(45deg 80% 25%);
  background-color: hsl(45deg 93% 97%);
  border: 1px solid hsl(45deg 93% 70%);
}

.info {
  color: hsl(210deg 80% 30%);
  background-color: hsl(210deg 100% 97%);
  border: 1px solid hsl(210deg 100% 80%);
}
