.chartContainer {
  margin-block: 2rem;
  padding: 1.5rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px hsl(0deg 0% 0% / 10%);
}

.title {
  font-weight: 600;
  text-align: center;
  margin-block-end: 1.5rem;
}
