.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-primary);
}

.mobile {
  padding: 10px 0 0 12px;
}

.mobileLogo {
  display: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(50%);
}

.siteHeader {
  color: white;
  position: relative;
  height: 88px;
  width: 100%;
  z-index: 9999;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: hsl(324, 100%, 51%);
}

.siteHeader ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  background: var(--darkColor);
  width: 100%;
  z-index: 9999;
  position: absolute;
  transition: transform 0.25s;
  font-size: 1.25rem;
  border-bottom: 1px solid white;
}

.navContainer {
  display: flex;
  max-width: 100%;
  width: 84.375rem;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  background: hotpink;
}

.menu {
  display: flex;
  justify-content: center;
  border-left: 1px solid white;
}

.toggleMobileBtn {
  display: none;
}

.link {
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  line-height: 2.75;
  text-align: left;
  border-right: 1px solid white;
  transition: 0.25s ease;
}

.link a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.link:hover {
  color: white;
}

.dropdown .dropdownItem .link {
  box-shadow: none;
}

.dropdown {
  background: var(--darkColor);
  position: absolute;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.dropdownItem {
  border-bottom: 1px solid white;
}

.tel {
  border-right: none;
}

@media (max-width: 910px) {
  .link {
    width: 100%;
    border-bottom: 1px solid white;
    border-right: none;
  }

  .dropdown {
    position: relative;
    border: none;
  }

  .dropdownItem {
    border-bottom: none;
  }

  .nav {
    z-index: 99;
    position: fixed;
    flex-direction: column;
    min-height: 100vh;
    transform: var(--toggleMobile);
    text-align: left;
    justify-content: flex-start;
  }

  .navContainer {
    display: block;
  }

  .menu {
    flex-direction: column;
    border-left: none;
    border-top: 1px solid white;
  }

  .toggleMobileBtn {
    color: white;
    z-index: 55555;
    margin: 1rem;
    position: absolute;
    right: 0;
    border: 1px solid white;
    background: var(--darkColor);
    display: block;
  }
}
