.container {
  display: flex;
  flex-direction: column;
}

.empty {
  padding: var(--spacing-3xl);
  text-align: center;
}

.empty p {
  margin: 0;
  font-size: var(--font-size-lg);
  color: var(--color-text-secondary);
}

.sentinel {
  height: 100px;
}
