/* [project]/src/components/UI/Primitives/Input/Input.module.css [app-client] (css) */
.Input-module__MOESnG__input, .Input-module__MOESnG__textarea, .Input-module__MOESnG__select {
  width: 100%;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--radius-md);
  transition: border-color var(--transition-base), background-color var(--transition-base), box-shadow var(--transition-base);
  font-family: inherit;
}

.Input-module__MOESnG__input.Input-module__MOESnG__sm, .Input-module__MOESnG__select.Input-module__MOESnG__sm {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-sm);
}

.Input-module__MOESnG__input.Input-module__MOESnG__md, .Input-module__MOESnG__select.Input-module__MOESnG__md {
  padding: var(--spacing-md) var(--spacing-xl);
  font-size: var(--font-size-base);
}

.Input-module__MOESnG__input.Input-module__MOESnG__lg, .Input-module__MOESnG__select.Input-module__MOESnG__lg {
  padding: var(--spacing-lg) var(--spacing-2xl);
  font-size: var(--font-size-lg);
}

.Input-module__MOESnG__textarea {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-base);
}

.Input-module__MOESnG__input:focus, .Input-module__MOESnG__textarea:focus, .Input-module__MOESnG__select:focus {
  background-color: var(--color-bg-primary);
  border-color: var(--color-border-focus);
  box-shadow: 0 0 0 3px var(--color-primary-transparent-100);
  outline: none;
}

.Input-module__MOESnG__input:hover, .Input-module__MOESnG__textarea:hover, .Input-module__MOESnG__select:hover {
  background-color: var(--color-bg-primary);
  border-color: var(--color-border-focus);
}

.Input-module__MOESnG__input:disabled, .Input-module__MOESnG__textarea:disabled, .Input-module__MOESnG__select:disabled {
  opacity: .6;
  cursor: not-allowed;
}

.Input-module__MOESnG__input::-moz-placeholder {
  color: var(--color-text-tertiary);
}

.Input-module__MOESnG__textarea::-moz-placeholder {
  color: var(--color-text-tertiary);
}

.Input-module__MOESnG__input::placeholder, .Input-module__MOESnG__textarea::placeholder {
  color: var(--color-text-tertiary);
}

.Input-module__MOESnG__textarea {
  resize: vertical;
  min-height: 120px;
}

.Input-module__MOESnG__select {
  padding-right: calc(var(--spacing-md)  + 12px + var(--spacing-sm));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right var(--spacing-md) center;
  cursor: pointer;
  appearance: none;
  background-size: 12px;
}

.Input-module__MOESnG__input.Input-module__MOESnG__error, .Input-module__MOESnG__textarea.Input-module__MOESnG__error, .Input-module__MOESnG__select.Input-module__MOESnG__error {
  border-color: var(--color-error-500);
}

.Input-module__MOESnG__input.Input-module__MOESnG__error:focus, .Input-module__MOESnG__textarea.Input-module__MOESnG__error:focus, .Input-module__MOESnG__select.Input-module__MOESnG__error:focus {
  border-color: var(--color-error-500);
  box-shadow: 0 0 0 3px #ef43431a;
}

/*# sourceMappingURL=src_components_UI_Primitives_Input_Input_module_css_bad6b30c._.single.css.map*/