.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 0;
  text-align: center;
  color: white;
}

@media (width >= 1390px) {
  .promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .price {
    font-size: 9.5rem;
  }
}

.offer {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 0;
}

.price {
  top: 0;
  margin-right: 0.5rem;
  width: 100%;
  font-size: 9.5rem;
  font-size: clamp(5rem, 15vw, 9.5rem);
  font-weight: 800;
  line-height: 0.75;
  text-align: center;

  & > span {
    font-size: 3rem;
    font-weight: 800;
    vertical-align: top;
  }
}

.newPatient {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  font-size: clamp(1.5rem, 5vw, 1.7rem);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.7rem;
  letter-spacing: clamp(0.25rem, 2vw, 0.7rem);
  text-transform: uppercase;
  white-space: nowrap;
}

.special {
  font-size: 4.1rem;
  font-size: clamp(2rem, 10vw, 4.1rem);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.points {
  display: block;
  font-size: 1rem;
  font-size: clamp(0.75rem, 3vw, 1rem);
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}
