.stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 4rem;
  text-align: center;
  background-color: var(--color-secondary-500);
}

.stat {
  display: flex;
  position: relative;
  flex-direction: column;
  width: fit-content;
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 900;
}

.stat span:last-child {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}

@media (width >= 1100px) {
  .stats {
    /* justify-content: flex-start; */
    /* padding-top: 2rem; */
  }
}
