.mapContainer {
  width: 100%;
  height: 200px;
  background-color: var(--color-bg-tertiary);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.mapContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.mapIframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: var(--radius-md);
}

.mapError {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  font-size: var(--font-size-sm);
  color: var(--color-text-tertiary);
  background-color: var(--color-bg-tertiary);
  border-radius: var(--radius-md);
}

@media (min-width: 640px) {
  .mapIframe {
    height: 250px;
  }

  .mapContainer {
    height: 250px;
  }

  .mapError {
    height: 250px;
  }
}
