.embed {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}

@media (min-width: 640px) {
  .embed {
    aspect-ratio: 4 / 3;
    border-radius: var(--radius-md) 0 0 var(--radius-md);
  }
}
