.trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  text-align: left;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.trigger:hover {
  background-color: rgb(255 255 255 / 10%);
}

@media (width <= 700px) {
  .trigger {
    width: 100%;
    border-bottom: 1px solid var(--nav-border-color);
  }
}
