.trigger {
  display: flex;
  position: relative;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm)
    calc(var(--spacing-md) + var(--spacing-md) + 20px);
  width: 100%;
  max-width: 300px;
  font-family: inherit;
  font-size: var(--font-size-base);
  text-align: left;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--radius-md);
  cursor: text;
  transition: border-color var(--transition-base),
    background-color var(--transition-base);
}

.trigger:hover {
  background-color: var(--color-bg-primary);
  border-color: var(--color-border-focus);
}

.trigger:focus-visible {
  background-color: var(--color-bg-primary);
  border-color: var(--color-border-focus);
  outline: none;
}

.icon {
  position: absolute;
  left: var(--spacing-md);
  color: var(--color-text-tertiary);
  pointer-events: none;
}

.placeholder {
  color: var(--color-text-tertiary);
}
