.noImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
  width: 100%;
  height: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-text-tertiary);
  background-color: var(--color-bg-tertiary);
}

.icon {
  width: 48px;
  height: 48px;
  color: var(--color-text-tertiary);
  opacity: 0.5;
}

.text {
  font-style: italic;
}

